*{margin: 0; padding: 0;}
body{
    width: 100%;
    height: 100vh;
    background: #232427;
}
main{
    color: #cccccc;
    display: grid;
    grid-template-columns: 200px 3fr;
}
header{
    height: 150px;
    background: #6900a5;
    box-shadow: inset 5px 5px 5px 5px #2a2b2f;
}

.edit{
    display: grid;
    grid-template-columns: 2fr 1fr;
}
textarea{
    width: 500px;
    height: 400px;
}
.content{
    margin: 10px;
    padding: 10px;
}
.content h2{
    font-size: 36px;
}
.content .card-group{
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    grid-gap: 5px;
}
.card-title{
    color: #2a2b2f;
}
.card-img-top{
    max-width: 140px;
}
header .headerImg{
    margin: 25px;
}
header .adminText{
    margin-left: 100px;
    margin-top: 15px;
}
header .adminText h1{
    color: #cccccc;
    font-size: 64px;
}
header .adminText h3{
    color: #000011;
    font-size: 24px;
}
header{
    display: grid;
    grid-template-columns: 100px 1fr;
}
main .menu_admin{
    background: #2a2b2f;
}

adm{
    padding: 15px;
}

main .content{
    background: #232427;
}
/*MENU*/
.vertical-menu {
    width: 200px; /* Set a width if you like */
}

.addForm{
    margin: 10px;
}
.login{
    margin-left: 40%;
    margin-top: 25%;
}
#login{
    position: relative;
    margin-left: 8%;
    margin-top: 5px;
}
body .content h2{
    color: #cccccc;
}body .content h3{
    color: #cccccc;
}

#h3{
    color: #cccccc;
}

#adminFirstRow .card{
    margin: 10px;
}

a.exit{
    background-color: #bb2d3b;
}

.bodyLogin{
    overflow-x: hidden;
    overflow-y: hidden;
}
/**/
.topnav {
    overflow: hidden;
    margin-top: 5px;
}

.topnav a {
    float: left;
    display: block;
    color: #ffffff;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
}

.topnav a:hover {
    background-color: #ddd;
    color: black;
}

.topnav a.active {
    background-color: #2196F3;
    color: white;
}

.topnav .search-container {
    float: right;
}

.topnav input[type=text] {
    padding: 6px;
    margin-top: 8px;
    font-size: 17px;
    border: none;
}

.topnav .search-container button {
    float: right;
    padding: 6px 10px;
    margin-top: 8px;
    margin-right: 16px;
    background: #0b5ed7;
    font-size: 17px;
    border: none;
    cursor: pointer;
}

.topnav .search-container button:hover {
    background: #ccc;
}

@media screen and (max-width: 600px) {
    .topnav .search-container {
        float: none;
    }
    .topnav a, .topnav input[type=text], .topnav .search-container button {
        float: none;
        display: block;
        text-align: left;
        width: 100%;
        margin: 0;
        padding: 14px;
    }
    .topnav input[type=text] {
        border: 1px solid #ccc;
    }
}
/**/




.loginForm input{
    padding: 10px;
}

.addForm input{
    width: 300px;
}
.addForm > small{
    color: #bb2d3b;
}
#adm{
    color: #000000;
    background-color: #6c757d;
}

.vertical-menu a {
    background-color: #eee; /* Grey background color */
    color: black; /* Black text color */
    display: block; /* Make the links appear below each other */
    padding: 12px; /* Add some padding */
    text-decoration: none; /* Remove underline from links */
}
.table{
    margin-top: 10px;
}

.table tr{
    border: 2px #6c757d solid;
}.table th{
    border: 2px #6c757d solid;
}.table td{
    border: 2px #6c757d solid;
}

.vertical-menu a:hover {
    background-color: #ccc; /* Dark grey background on mouse-over */
}

.vertical-menu a.active {
    background-color: #04AA6D; /* Add a green color to the "active/current" link */
    color: white;
}
.vertical-menu a.exit {
    background-color: #bb2d3b; /* Add a green color to the "active/current" link */
    color: white;
}
/**/
.container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    max-width: 1200px;
    margin: 40px 0;
}

.container .card {
    position: relative;
    min-width: 320px;
    height: 440px;
    box-shadow: inset 5px 5px 5px rgba(0, 0, 0, 0.2),
    inset -5px -5px 15px rgba(255, 255, 255, 0.1),
    5px 5px 15px rgba(0, 0, 0, 0.3), -5px -5px 15px rgba(255, 255, 255, 0.1);
    border-radius: 15px;
    margin: 30px;
    transition: 0.5s;
}

.container .card:nth-child(1) .box .content a {
    background: #2196f3;
}

.container .card:nth-child(2) .box .content a {
    background: #e91e63;
}

.container .card:nth-child(3) .box .content a {
    background: #23c186;
}

.container .card .box {
    position: absolute;
    top: 20px;
    left: 20px;
    right: 20px;
    bottom: 20px;
    background: #2a2b2f;
    border-radius: 15px;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    transition: 0.5s;
}

.container .card .box:hover {
    transform: translateY(-50px);
}

.container .card .box:before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 50%;
    height: 100%;
    background: rgba(255, 255, 255, 0.03);
}

.container .card .box .content {
    padding: 20px;
    text-align: center;
}

.container .card .box .content h2 {
    position: absolute;
    top: -10px;
    right: 30px;
    font-size: 8rem;
    color: rgba(255, 255, 255, 0.1);
}

.container .card .box .content h3 {
    font-size: 1.8rem;
    color: #fff;
    z-index: 1;
    transition: 0.5s;
    margin-bottom: 15px;
}

.container .card .box .content p {
    font-size: 1rem;
    font-weight: 300;
    color: rgba(255, 255, 255, 0.9);
    z-index: 1;
    transition: 0.5s;
}
.container .card .box .content a {
    position: relative;
    display: inline-block;
    padding: 8px 20px;
    background: black;
    border-radius: 5px;
    text-decoration: none;
    color: white;
    margin-top: 20px;
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
    transition: 0.5s;
}
.container .card .box .content a:hover {
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.6);
    background: #fff;
    color: #000;
}
form{
    color: #cccccc;
}

.table{
    color: #cccccc;
    border: 3px #cccccc;
}

.card-group{
    padding: 10px;
    margin: 2px;
}
.card-group .card{
}